/* #Змінні 
основний колір фону #FFFFFF;
колір фону для карток #F1F1F2;
фірмовий колір #F7941E;
додатковий фон для карток #231F20;
колір фону футеру #FAFAFA;
основний колір тексту: #000000;

*/

:root {
--main-background-color: #FFFFFF;
--color-card: #F1F1F2;
--accent-color: #F7941E;
--additional-color-card: #231F20;
--color-footer: #FAFAFA;
--accent-text-color: #000000;
--timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

/*#region ---Body Styles--- */

.body {
    font-family: 'Blinker', sans-serif;
    letter-spacing: 0.02em;
    background-color: var(--main-background-color);
    color: var(--accent-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
 margin-top: 0;
 margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*#header ---Header Styles--- */

.container {
    width: 1440px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header-container {
    display: flex;
    align-items: center;
    padding-top: 37px;
    padding-bottom: 40px;
}

.logo{
    margin-left: 40px;
    margin-right: 433px;

    fill:var(--accent-text-color);

    transition: fill 250ms var(--timing-function);
}

.logo:hover, .logo:focus,
.logo:active {
    fill: var(--accent-color);
}

.style-nav{
    margin-right: 375px;
}

.list {
    list-style: none;
}

.nav-list {
    display: flex;
    gap: 31px;
}

.nav-link {
    display: block;

    font-size: 18px;
    line-height: 1.22;
    text-decoration: none;
    color: var(--accent-text-color);

    transition: color 250ms var(--timing-function);
}

.nav-link:hover, .nav-link:focus,
.nav-link:active {
    color: var(--accent-color);
}

.nav-button, .hero-button {
    border: 1px solid var(--accent-color);
    border-radius: 5px;
    padding: 13px 20px;
    margin-left: 0;
    margin-right: 0;

    font-size: 18px;
    line-height: 1.22;
    color: var(--accent-color);
    cursor: pointer;
    background-color: var(--color-footer);

    transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function)
}

.nav-button:hover, .nav-button:focus,
.nav-button:active, .hero-button:hover,
.hero-button:active, .hero-button:focus {
    color: var(--accent-text-color);
    background-color: #F7941E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*#hero ---Hero Styles--- */

.hero {
    margin-top: 0;
    margin-bottom: 0;
    background-color: var(--color-card);
}

.hero-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.hero-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-img {
    display: block;
}

.hero-content {
    max-width: 411px;
    margin-right: 162px;
}

.subcontent{
    margin-left: 120px;
}

.hero-subtitle {
    margin-bottom: 36px;

    font-weight: 700;
    font-size: 56px;
    line-height: 1.23;
}

.hero-text{
    margin-bottom: 54px;

    font-size: 20px;
    line-height: 1.4;
}

.hero-button-one {
    border-radius: 5px;
    padding: 13px 20px;
    margin-left: 0;
    margin-right: 0;
    border: transparent;

    font-size: 18px;
    line-height: 1.22;
    color: var(--main-background-color);
    background-color: #F7941E;

    transition: background-color 250ms var(--timing-function),
    color 250ms var(--timing-function);
}

.hero-button-one:hover {
    background-color: var(--accent-text-color);
    color: #F7941E;
}


.section {
    padding-top: 80px;
    padding-bottom: 100px;
}

/*#gallery ---Gallery Styles--- */

.gallery-list {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 30px;
}

.gallery-item> .gallery-item {
    margin-left: 0;
    width: calc((100% - 3 * 30px) / 4);
}

.gallery-link {
    display: block;
    text-decoration: none;
    box-shadow: 0px 1px 6px rgb(46 47 66 / 8%);
}
.container-text-card {
    padding: 24px;
    max-width: 270px;

    background-color: var(--color-footer);
    filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.05));

    transition: filter 250ms var(--timing-function);
}

.container-text-card:hover, 
.container-text-card:focus {
    filter: drop-shadow(11px 10px 5px rgba(225,118,12,0.34));
-webkit-filter: drop-shadow(11px 10px 5px rgba(225,118,12,0.34));
-moz-filter: drop-shadow(11px 10px 5px rgba(225,118,12,0.34));
}

.gallery-title {
    margin-bottom: 23px;

    font-weight: 600;
    font-size: 32px;
    line-height: 1.18;
    text-align: center;
}

.gallery-text {
    margin-bottom: 57px;

    font-size: 18px;
    line-height: 1.33;
    text-align: center;
}

.gallery-subtitle {
    margin-bottom: 74px;

    font-size: 20px;
    line-height: 1.2;
    color: var(--accent-text-color);
}

.gallery-button {
    font-size: 14px;
    line-height: 1.32;
    color: var(--accent-text-color);
}

/*#communication ---Communication Styles--- */

.communication {
    background-color: var(--accent-color);
}

.communication-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.communication-title-box {
    max-width: 350px;
    margin-right: 229px;
}

.communication-title-bold {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.4;
}

.communication-title {
    font-weight: 400;
    font-size: 32px;
    line-height: 1.4;
}

.communication-list {
    display: flex;
}

.communication-button {
    padding: 18px 24px;
    margin-right: 16px;

    font-size: 18px;
    line-height: 1.33;
    cursor: pointer;
    border-radius: 5px;
    border: transparent;
    background-color: var(--additional-color-card);
    color: var(--main-background-color);

    transition: background-color 250ms var(--timing-function),
    color 250ms var(--timing-function),
    border 250ms var(--timing-function);
}

.communication-button:hover, .communication-button:focus,
.communication-button:active {
    background-color: var(--accent-color);
    color: var(--accent-text-color);
    border: 1px solid var(--accent-text-color);
}

.button-orange {
    border: 1px solid var(--accent-text-color);
    background-color: var(--accent-color);
    color: var(--accent-text-color);
    
    transition: background-color 250ms var(--timing-function),
    color 250ms var(--timing-function),
    border 250ms var(--timing-function);
}

.button-orange:hover, .button-orange:focus,
.button-orange:active {
    border: transparent;
    background-color: var(--additional-color-card);
    color: var(--main-background-color);
}  

/*#blog ---Blog Styles--- */

.blog-title {
    margin-bottom: 23px;

    font-size: 32px;
    line-height: 1.8;
    text-align: center;
}

.blog-description {
    margin-bottom: 71px;

    font-size: 18px;
    line-height: 1.33;
    text-align: center;
}

.blog-card-box {
    display: flex;
    justify-content: center;

    margin-bottom: 40px;
}

.blog-text-box {
    padding-top: 63px;
    padding-left: 80px;
    padding-right: 200px;
    padding-bottom: 50px;
    background-color: var(--additional-color-card);
}

.blog-subtitle {
    margin-bottom: 27px;

    font-size: 14px;
    line-height: 1.42;
    color: var(--main-background-color);
}

.blog-text {
    margin-bottom: 60px;
    font-weight: 600;
    font-size: 48px;
    line-height: 1.2;
    color: var(--main-background-color);
}

.blog-box-link, .blog-button {
    font-size: 18px;
    line-height: 1.38;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--main-background-color);
}

.blog-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-left: 135px;
    margin-right: 135px;
    list-style: none;
}

.blog-card {
    padding: 48px;

    transition: box-shadow 250ms var(--timing-function);
}

.blog-card:hover, .blog-card:focus,
.blog-card:active {
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

.blog-list> .blog-card {
    width: calc((100% - 30px) / 2);
}

.blog-link {
    text-decoration: none;
}

.blog-subtitle-card {
    margin-bottom: 16px;

    font-size: 24px;
    line-height: 1.47;
    color: var(--accent-text-color);
}

.blog-text-card {
    margin-bottom: 16px;

    font-size: 18px;
    line-height: 1.38;
    color: var(--accent-text-color);
}

.blog-button-card {
    font-size: 14px;
    line-height: 1.42;
    color: var(--accent-text-color);
}